/* RegistrationStyle.module.css */

.container {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #8697C4;
}

h2 {
  margin-bottom: 20px;
  font-size: 45px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="email"],
input[type="text"],
input[type="password"],
button[type="submit"],
input[type="number"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #495678; 
  color: black;
  border-radius: 35px; 
  font-size: 16px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
}

input[type="email"],
input[type="text"],
input[type="password"],
button[type="submit"],
input[type="number"],
input[type="file"]:hover{
  background: rgb(247, 245, 245);
}

input[type="email"]::placeholder {
  color: black;
}

input[type="text"]::placeholder {
  color: black;
}

input[type="password"]::placeholder {
  color: black;
}

button[type="submit"] {
  background-color: #1a2c6e;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.text1 {
  color: black;
}

.text2 {
  color: white;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
}

.popup-content {
  text-align: center;
}

.popup button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056b3;
}

.square {
  position: absolute;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  animation: move 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

.square:nth-child(1) {
  top: -70px;
  right: -60px;
  width: 100px;
  height: 100px;
}

.square:nth-child(2) {
  top: 130px;
  left: -100px;
  width: 120px;
  height: 120px;
  z-index: 2;
}

.square:nth-child(3) {
  bottom: 50px;
  right: -60px;
  width: 80px;
  height: 80px;
  z-index: 2;
}

.square:nth-child(4) {
  bottom: -40px;
  left: 100px;
  width: 50px;
  height: 50px;
}

.square:nth-child(5) {
  top: -40px;
  left: 140px;
  width: 60px;
  height: 60px;
}

@keyframes move {
  0%, 100% {
      transform: translateY(-20px);
  }

  50% {
      transform: translateY(20px);
  }
}